* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Tahoma, sans-serif;
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr;
}

nav {
    background-color: #333;
    color: white;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

nav li {
    flex: 1;
    text-align: center;
}

nav a {
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    background-color: #575757;
}

table {
    width: 80%;
    margin:auto;
    border-collapse: collapse;
    text-align: center;
}

table tr th,
table tr td {
    padding: 5px;
    border: 1px #eee solid;
}

tfoot tr th,
tfoot tr td {
    font-size: 20px;
}

tfoot tr th {
    text-align: right;
}

.title,
.main {
    text-align: center;
    margin: 2rem auto;
}

.section-add,
.section-home {
    display: flex;
    justify-content: center;
    margin-top:4rem;
}
.upload-form {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.upload-form button {
    padding: 0.25rem 0;
    font-weight: bold;
    color: white;
    background-color: #333;
    border: none;
    
}

.upload-form button:hover {
    background-color: #575757;
}
